body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;


background-image: url(../src/components/assets/bg1.avif);

background-repeat: no-repeat;
background-size: cover; /* or cover */
background-position: center;

 


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
}

